In [14]:
str1 = "hello world"
print("Converts all characters in a string to uppercase")
print("converted text is: ", str1.upper())

Converts all characters in a string to uppercase
converted text is:  HELLO WORLD

lower() : Converts all characters in a string to lowercase.

In [15]:
str2 = "I AM FINE"
print("Converts all characters in a string to lowercase.")
print(str2.lower())

Converts all characters in a string to lowercase.
i am fine

strip() : Remove spaces at the beginning and at the end of the string or Remove Whitespaces

In [25]:
print("strip method allows us to Remove spaces at the beginning and at the end of the string or Remove Whitespaces")
str3 = "......apple pie,,,,,,"
print(str3.strip(".,"))

strip method allows us to Remove spaces at the beginning and at the end of the string or Remove Whitespaces
apple pie

In [26]:
b = "berries"
c = "cranberries"
str4 = b.strip()
print(b, "are cheap in walmart" , "and", c, "are expensive in walmart")

berries are cheap in walmart and cranberries are expensive in walmart

 split() : Splits a string into a list of substrings

In [18]:
str5 = "all my friends are toxic"
str6 = "all, my friends, are toxic, oh!"
text = str6.split(",")
print(text)                  
print(str5.split())

['all', ' my friends', ' are toxic', ' oh!']
['all', 'my', 'friends', 'are', 'toxic']

replace(): Replaces occurrences of a substring with another substring

In [19]:
str7 = "you are my monica to my chandler"
print("Replaces occurrences of a substring with another substring ")
print(str7.replace("chandler","rachel"))

Replaces occurrences of a substring with another substring
you are my monica to my rachel

find() : Returns the index of the first occurrence of a substring. Returns -1 if not found.

In [12]:
txt = "hello world"
str8 = txt.find("rld")
#str8 = txt.find("o",6,11)
print(str8)

8

str.isalnum() : method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9)

In [1]:
str9 = "19"
print(str9.isalnum())

True

str.isalpha() :method returns True if all the characters are only alphabet letters (a-z).

In [36]:
text = "snow"
str10 = text.isalpha()
print(str10)

True

str.isnumeric() : Returns True if all characters in the string are numeric

In [37]:
str11 = "1016"
print(str11.isnumeric())

True

str.islower() : Returns True if all characters in the string are lower case

In [38]:
abc = "it is snowy outside"
text = abc.islower()
print(text)

True

str.isupper() : Returns True if all characters in the string are upper case

In [39]:
abc = "IT IS SNOWY OUTSIDE"
text = abc.isupper()
print(text)

True

str.istitle() : Returns True if the string follows the rules of a title, means method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.
Symbols and numbers are ignored.

In [42]:
a = " It Is Snowy Outside"
b = "It Is Snoy Outside On Jan 19"
c = "it is snowy on jan 19"
str12 = a.istitle() , b.istitle() , c.istitle()
print(str12)

(True, True, False)

str.isspace() : Returns True if all characters in the string are whitespaces

In [44]:
str13 = "   " 
str14 = "  snowy  "
print(str13.isspace() , str14.isspace())

True False

capitalize() :Converts the first character to upper case

In [1]:
str15 = "hi komali"
print(str15.capitalize())

Hi komali

title() : Converts the first character of each word to upper case

In [17]:
str26 = 'hi world'
print(str26.title())

Hi World

casefold(): Converts string into lower case

In [9]:
str16 = 'Hi komali'
print(str16.casefold())

hi komali

center() : Returns a centered string

In [14]:
str17 = 'hi komali'
print(str17.center(100,"*"))

*********************************************hi komali**********************************************

count(): Returns the number of times a specified value occurs in a string
syntax : string.count(value, start, end) - value is required , others are defalut taken as 0

In [21]:
str18 = 'yesterday it was snowy, due to rain all the snow melted'
print(str18.count("snow"))

2

encode() : Returns an encoded version of the string
syntax : string.encode(encoding=encoding, errors=errors)

In [2]:
#str19 = 'it is '
#print(str19.encode())

endswith() :Returns true if the string ends with the specified value

In [3]:
str20 = "im fine"
print(str20.endswith("fine"))

True

startswith() : Returns true if the string starts with the specified value

In [14]:
str21 = "im fine"
print(str21.startswith("im"))

True

expandtabs() :Sets the tab size of the string

In [ ]:
#str21 = ""

format() :Formats specified values in a string

In [23]:
#str22 = "im fine and {fname}"
str22 = "im fine and im {age}"
print(str22.format(age = 24))

im fine and im 24

index() :	Searches the string for a specified value and returns the position of where it was found , if not found raise an error. same as find() , find gives -1 is not found.

In [6]:
str23 = "hello world"
print(str23.index("w"))

6

isidentifier() : Returns True if the string is an identifier
A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). 
A valid identifier cannot start with a number, or contain any spaces.

In [11]:
str24 = "hello34"
print(str24.isidentifier())

True

swapcase() :Swaps cases, lower case becomes upper case and vice versa

In [15]:
str25 = "hELLO wORLD"
print(str25.swapcase())

Hello World

In [ ]:
translate(),encode(),expandstab(),partition(),

slicing :

In [13]:
str1 = "komali"
print( str1[:1])

k

In [24]:
str1 = "komali"
print(str1[0:5])

komal

In [18]:
str1 = 'komali'
print(str1[2:])

mali

In [21]:
str1 = 'komali'
print(str1[::-1])

ilamok

In [15]:
str1 = "komali"
print(str1[1:2:3])

o